<% @ad.comments.each do |comment| %>
  <p><%= comment.body %></p>
  <% if (current_member) && (comment.member.id == current_member.id) %>
    <%= rating_for_user @ad, current_member, 'quality' %>
  <% end %>
  <small class="text-muted">Postado por <%= comment.member.email %> a <%= time_ago_in_words(comment.created_at) %> atrás</small>
  <hr>
<% end %>